/**
 * ART Timer - Reminder Window Styles
 * Custom CSS for the reminder dialog window
 */

/* ===== FONT IMPORTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ===== RESET & BASE ELEMENTS ===== */
* {
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E3E5F2;
}

h1 {
    color: #0C8DE8;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/* ===== INPUT FORM ELEMENTS ===== */
.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.inputs label {
    margin: 10px 0;
    color: #00538f;
}

.inputs input[type="text"] {
    padding: 10px 15px;
    min-width: 250px;
    font-size: 1rem;
    font-weight: 500;
    color: #004475;
}

.timing-inputs {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.inputs input[type="number"] {
    max-width: 50px;
    font-size: 1rem;
    font-weight: 500;
    color: #004475;
    display: inline-block;
    text-align: center;
}

/* ===== BUTTON STYLING ===== */
.buttons {
    position: relative;
    bottom: -30px;
}

button {
    min-width: 125px;
    margin: 0 10px;
    padding: 10px 25px;
    background-color: #0C8DE8;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition-duration: 0.5s;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: #0C8DE8;
    border: 1px solid #0C8DE8;
    transition-duration: 0.3s;
}